.product-image{
    width: 200px;
    height: 20%;
}
hr {
    padding: 0;
    margin: 0;
}

a, p, h1, h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

label.control-label {
    font-family: 'Poppins', sans-serif;
}

a.nav-link.logo {
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
    padding:0;
}

h1.text-center {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

/* FOOTER */
.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    margin: 0;
}

    .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

        .footer-basic ul a:hover {
            opacity: 1;
        }

    .footer-basic .social {
        text-align: center;
        padding-bottom: 25px;
    }

        .footer-basic .social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
        }

            .footer-basic .social > a:hover {
                opacity: 0.9;
            }

    .footer-basic .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*About us*/
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 92.5vh;
    width: 85vw;
    margin: 0 auto;
}

.image {
    background: url("../img/dog.jpg") center/cover no-repeat;
}


.content {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .content h2 {
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 6px;
        opacity: 0.9;
    }

    .content span {
        height: 0.5px;
        width: 80px;
        background: #777;
        margin: 30px 0;
    }
    .content p {
        padding-bottom: 15px;
        font-weight: 300;
        opacity: 0.7;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        line-height: 1.7;
    }

.links {
    margin: 15px 0;
}

    .links li {
        border: 0.5px solid #777;
        list-style: none;
        border-radius: 5px;
        padding: 10px 15px;
        width: 160px;
        text-align: center;
    }

        .links li a {
            text-transform: uppercase;
            color: #777;
            text-decoration: none;
        }

        .links li:hover {
            border-color: #06d6a0;
        }

            .links li:hover a {
                color: #06d6a0;
            }

.vertical-line {
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}

label.text-torshia {
    font-family: 'Poppins', sans-serif;
}

button.btn.bg-dark.text-white {
    font-family: 'Poppins', sans-serif;
}


