<div class="bgclass">
    <div class="cont">
        <h2 class="heading-text">Developer | Photographer | Blogger</h2>
        <div class="image-about">
            <img src="~/img/photo.jpg" class="round" alt="About me photo"/>
        </div>
        <p class="text-white">
            A fourth-year IT undergraduate with strong desire and motivation to acquire new skills and learn new
            technologies in Software Engineering. My current position as student helps me improve both my theoretical
            knowledge and practical skills constantly. Furthermore, my interests extend beyond the academic
            environment and are currently focused on web development and web technologies. After 4 years of
            studying IT, I feel confident and ready to take the next step and find myself job as Web Developer. I am
            looking forward for new challenges!
        </p>
    </div>
</div>