@model IEnumerable<StockImage.Web.ViewModels.CommentViewModel>

@{
    ViewData["Title"] = "Home page";
}
<section>
    <div class="image">
    </div>

    <div class="content">
        <h2>Stoyan's Portfolio</h2>
        <span></span>

        <p>
            Welcome to my portfolio! My name is Stoyan and I am 23 years old undergraduate Information Technologies student(New Bulgarian University) located in Sofia, Bulgaria.
            Here you can find more about my work, experience, interests and passions.
            To download my exclusive collection of nature photography or give me feedback about my work, please register.
        </p>

        @if (!this.User.Identity.IsAuthenticated)
        {


    <ul class="links">
        <li><a href="/Identity/Account/Login" title="Login">Login</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Identity/Account/Register" title="Register">Register</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Image/All" title="Gallery">Gallery</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Home/About" title="About Me">About</a></li>
    </ul>



        }
        else if (this.User.IsInRole("User"))
        {
            

    <ul class="links">
        <li><a href="/Image/All" title="Gallery">Gallery</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Comment/Add" title="Send Feedback">Send Feedback</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Home/About" title="About Me">About</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Identity/Account/Logout" title="Logout">Logout</a></li>
    </ul>


                
        }
        else if (this.User.IsInRole("Admin"))
        {
            

    <ul class="links">
        <li><a href="/Image/All" title="Gallery">Gallery</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Image/Create" title="Upload Image">Upload Image</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Comment/Add" title="Add Comment">Send Feedback</a></li>

        <div class="vertical-line"></div>


        <li><a href="/Home/About" title="About Me">About</a></li>

        <div class="vertical-line"></div>

        <li><a href="/Identity/Account/Logout">Logout</a></li>
    </ul>


                
        }
    </div>
</section>

<hr class="mt-0 mb-2" />

<h2 class="text-center">Comments from Users!</h2>


@foreach (var item in Model)
{
    <div class="container mt-5 ">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6">
                <div class="bg-white comment-section">
                    <div class="d-flex flex-row user p-2">
                        <img class="rounded-circle" src="https://i.imgur.com/jDimNTZ.jpg" width="50">
                        <div class="d-flex flex-column ml-2"><span class="name font-weight-bold">@item.CurrentUser</span><span>Date: @item.CreatedOn.ToString()</span></div>
                    </div>
                    <div class="mt-2 p-2">
                        <p class="comment-content">@item.Title</p>
                    </div>
                    <div class="mt-2 p-2">
                        <p class="comment-content">@item.Content</p>
                    </div>
                    <div class="d-flex justify-content-between p-3 border-top"></div>
                </div>
            </div>
        </div>
    </div>
}

