@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

<h1 class="text-center">Sign Up</h1>
<hr class="mt-4 mb-4"/>
<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <label asp-for="Input.Username" class="text-torshia">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               asp-for="Input.Username">
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password" class="text-torshia">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               asp-for="Input.Password">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="text-torshia">Confirm Password</label>
        <input type="password"
               class="form-control"
               id="confirmPassword"
               asp-for="Input.ConfirmPassword">
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email" class="text-torshia">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               asp-for="Input.Email">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="button-holder d-flex justify-content-center mb-3">
        <button type="submit" class="btn bg-dark text-white">Register</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
